

<header>
<div class="row" id ="top">
  <div class ="twelve columns text-center">

    <h2>Welcome to Classroom View</h2>
    <hr>

  </div>
</div>
</header>


<div class ="row">

  <%= form_tag sessions_path do %>
    <div class="Five columns text-center">
      <%= text_field_tag :email, params[:email], :placeholder => "Email"%>
    </div>
</div>

<div class ="row">
    <div class = "Five columns text-center">
      <%= label_tag :password %> <br/>
      <%= password_field_tag :password %>
    </div>
</div>

<br/>
<br/>
<br/>



<div class ="row">
  <div class ="twelve columns text-center">
    <p><%= submit_tag "Log in", :class => "button [radius round]" %> </p>
  <% end %>
</div>
</div>
