<table border="1" style="width:100%">
  <tr>
    <th>Type</th>
    <th>Location</th>
    <th>Meeting Days</th>
    <th>Start Time</th>
    <th>Stop Time</th>
  </tr>
  <% @course.each do |course| %>
  <tr>
    <td><%= course.type %></td>
    <td><%= course.location %></td>
    <td><%= course.meeting_days %></td>
    <td><%= course.start_time %></td>
    <td><%= course.stop_time %></td>
  </tr>
  <% end %>
</table>
